<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Dependencies -->
    <bean id="loggerService" class="org.example.repository.LoggerService"/>
    <bean id="libraryRepository" class="org.example.repository.LibraryRepository"/>

    <!-- Service with constructor + setter injection -->
    <bean id="libraryService" class="org.example.service.LibraryService">
        <constructor-arg ref="loggerService"/>
        <property name="libraryRepository" ref="libraryRepository"/>
    </bean>

</beans>
